<form class="form-system">
  <p class="title-system">Register</p>
  <p class="message-system">Signup now and get full access to our app.</p>

  <div class="flex-system">
    <label>
      <input required="" placeholder="" type="text" class="input-system" />
      <span>Firstname</span>
    </label>

    <label>
      <input required="" placeholder="" type="text" class="input-system" />
      <span>Lastname</span>
    </label>
  </div>

  <label>
    <input required="" placeholder="" type="email" class="input-system" />
    <span>Email</span>
  </label>

  <label>
    <input required="" placeholder="" type="password" class="input-system" />
    <span>Password</span>
  </label>
  <label>
    <input required="" placeholder="" type="password" class="input-system" />
    <span>Confirm password</span>
  </label>
  <button class="submit-system">Submit</button>
  <p class="signin">Already have an acount ? <a href="#">Signin</a></p>
</form>
